<% layout('../../admin/layouts/mainLayout') -%>

  <% block('page_header',`
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Blogs </h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Blogs</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  `); -%>
<div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <a class="" href="/admin/blogs/create">Create New Blog</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table id="blogs_table" class="table table-bordered responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th >Id</th>
                        <th >Title</th>
                        <th >Short Description</th>
                        <th >Category</th>
                        <th >tags</th>
                        <th >Created By</th>
                        <th >Created At</th>
                        <th >Action</th>
                    </tr>
                </thead>
            </table>
         </div>
        </div>
        <!-- <div class="card-footer">Footer</div> -->
      </div>
    </div>

</div>

<% block('javascript',`
<script>
  $(function () {
    // $("#blog_tag_table").DataTable();

    var table = $('#blogs_table').DataTable( {
   
        processing: true,
        responsive: true,
        "ajax": "/admin/load-ajax-blogs",
        "columns": [
             {
                 "className": 'details-control',
                 "data":"id"
             },
             { "data": (row)=>{
                  return row.title.substr(0,50);
                } 
             },
             {
                "data": (row)=>{
                  return row.short_description.substr(0,100);
                } 
             },
             { "data": "category.category_name" },
             { "data": function(row){
                   if(row.tags.length){

                    return Array.from(row.tags,ob=>ob.tag_name);
   
                   }else{
                     return 'No Tags';
                   }
                    
             } 
             },
             { "data": function(row){
                    return row.creator.first_name +" "+ row.creator.last_name;
                } 
             },
             { "data": "created_at" },
             {
                 "className": '',
                 "orderable": false,
                 "searchable": false,
                 "data": function (row) {
                   return "<button class='btn btn-default'>View</button><a href='/admin/blogs/"+row.id+"/edit' class='btn btn-success'>Edit</a><button  class='btn btn-danger delete-btn'>Delete</button>";
                 }
                
             }
         ],
    });

    $('#blogs_table tbody').on('click', 'button.delete-btn', function () {
        var data = table.row( $(this).parents('tr') ).data();
    
        var confirmation=confirm("Are you sure ? You wanna delete this post!");
        
        if(confirmation){
            $.ajax({
              type: 'DELETE',
              url: '/admin/blogs/'+data.id +'/delete',
              dataType: "json",
              cache: false,
              timeout: 5000,
              success: function(data) {
                  toastr.success('Blog successfully deleted.');
                  table.ajax.reload();
              },
              error: function(jqXHR, textStatus, errorThrown) {
                  toastr.error('Blog can be deleted.');
              }
            });
        }

    });



  });
</script>
`); -%>
